@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-start-rgb: 215, 220, 220;
    --background-end-rgb: 255, 255, 255;
    --foreground-rgb: 0, 0, 0;
} /* This defines custom CSS variables for the background colours and also the foreground color */

@media (prefers-color-scheme: dark) {
    body.dark-theme {
        --background-start-rgb: 0, 0, 0; /* no contribution from rgb (red, green, blue) therefore this produces a colour of black */
        --background-end-rgb: 0, 0, 0; /* black */
        --foreground-rgb: 255, 255, 255; /* white colour produced due to a full contribution from rgb */
    }
}

body {
    color: rgb(var(--foreground-rgb)); /* 'var()' function used to reference the value of the custom property */
    background: linear-gradient(
        transparent, /* This starts the gradient with a transparent color, at the top of the element, the background will be fully transparent, allowing whatever is beneath the element to show through */
        rgb(var(--background-start-rgb))
    );
}

body {
    background-color: #f5f5f5; /* ligh gray background colour */
    font-size: 18px;
    color: #333; /* colour of text */
    height: 100vh;
    padding: 20px; 
}


